.gallery__title-wrapper {
  max-width: 563px;
  margin: 0 0 70px auto;
}

.gallery__title {
  font-size: var(--header2);
  text-align: end;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) and (max-width: 1144px) {
    font-size: calc(
      var(--header3) + (48 - 36) * ((100vw - 768px) / (1144 - 768))
    );
  }
}

.gallery__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.15;
  text-align: end;
}

.photo-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 170px;
  justify-items: center;


  @media screen and (min-width: 768px) and (max-width: 1144px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 345px;
  height: 262px;
  overflow: hidden;
  border-radius: 10px;
}

.photo::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--purple-gradient);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.photo:hover::before {
  opacity: 1;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
