header {
  width: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  background: var(--background);
  z-index: 100;

  @media screen and (min-width: 390px) and (max-width: 876px) {
    top: 30px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: var(--header3);
  color: var(--main-orange);

  @media screen and (min-width: 390px) and (max-width: 876px) {
    font-size: calc(var(--title) + (36 - 24) * (100vw - 390px) / (768 - 390));
    gap: calc(13px + (20 - 13) * (100vw - 390px) / (768 - 390));
  }
}

.header__logo img,
.menu__button img {
  width: 60px;
  height: 60px;

  @media screen and (min-width: 390px) and (max-width: 876px) {
    width: calc(40px + (60 - 40) * (100vw - 390px) / (768 - 390));
    height: calc(40px + (60 - 40) * (100vw - 390px) / (768 - 390));
  }
}

.nav-menu {
  display: inline-block;
  margin-right: 34px;

  @media screen and (max-width: 876px) {
    display: none;
  }
}

.menu__link {
  position: relative;
  display: inline-block;
  color: var(--main-white);
  font-size: var(--button-small);
  letter-spacing: calc(var(--button-small) * 0.05);
  margin-right: 32px;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link a::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-orange);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: -4px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu__link a:hover::after {
  opacity: 1;
}

button.menu__link {
  background-color: var(--main-orange);
  border-radius: 24px;
  padding: 10px 16px;
  cursor: pointer;

  @media screen and (max-width: 876px) {
    display: none;
  }
}

.menu__button {
  @media screen and (min-width: 876px) {
    display: none;
  }
}
