.subscribe {
  max-width: calc(989 / 1064 * 100%);
  padding: 32px 35px 34px;
  background: var(--purple-gradient);
  border-radius: 25px;
  margin-bottom: 106px;
  position: relative;

  @media screen and (min-width: 390px) and (max-width: 768px) {
    max-width: 100%;
  }
}

.subscribe__title-wrapper {
  max-width: 684px;
  margin-bottom: 46px;

  @media screen and (min-width: 768px) and (max-width: 1144px) {
    width: calc(558px + (684 - 558) * ((100vw - 768px) / (1144 - 768)));
  }
}

.subscribe__title {
  font-size: var(--header2);
  margin-bottom: 15px;

  @media screen and (min-width: 769px) and (max-width: 1144px) {
    font-size: calc(
      var(--header3) + (48 - 36) * ((100vw - 768px) / (1144 - 768))
    );
  }

  @media screen and (min-width: 390px) and (max-width: 768px) {
    font-size: calc(var(--title) + (36 - 24) * ((100vw - 390px) / (768 - 390)));
  }
}

.subscribe__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.15;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.input-wrapper {
  position: relative;
  max-width: calc(602 / 919 * 100%);
  max-height: 41px;

  @media screen and (min-width: 390px) and (max-width: 768px) {
    max-width: 100%;
  }
}

.subscribe__email {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.15;
  padding: 10px calc(25% + 33px) 10px 33px;
  border: none;
  border-radius: 12px;
}

.subscribe__button {
  height: 100%;
  font-size: var(--button-small);
  letter-spacing: calc(var(--button-small) * 0.05);
  padding: 10px 36px;
  background: var(--main-orange);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 12px 12px 0;
}

.subscribe__image {
  width: 529px;
  height: 529px;
  position: absolute;
  right: -176px;
  bottom: -85px;
  transform: scaleX(-1);

  @media screen and (min-width: 769px) and (max-width: 1144px) {
    --dim-tablet: calc(313px + (529 - 313) * ((100vw - 768px) / (1144 - 768)));
    width: var(--dim-tablet);
    height: var(--dim-tablet);
    right: calc(-176 / 529 * var(--dim-tablet));
    bottom: calc(-85 / 529 * var(--dim-tablet));
  }

  @media screen and (min-width: 390px) and (max-width: 768px) {
    --dim-phone: calc(251px + (313 - 251) * ((100vw - 390px) / (768 - 390)));
    width: var(--dim-phone);
    height: var(--dim-phone);
    top: calc(-185 / 313 * var(--dim-phone));
    right: calc(-16 / 313 * var(--dim-phone));
  }
}
